<p style="color:@(server.IsOnline?"green":"red")">
   @server.Name is in @server.City and is @(server.IsOnline?"online":"offline") at @DateTime.Now
</p>

@code {
    private Server server = new Server { Name = "Server 1", City = "Toronto" };
}
